* {
    margin: 0;
}

body {
    background-color: wheat;
    display: flex;
    justify-content: center;
    min-width: 90%;
}

.user-panel {
    font-size: 1.25rem;
    margin-top: 2rem;
    background-color: burlywood;
    width: 25rem;
    height: 41rem;
    border-radius: 15px;
    text-align: center;
}

.user-panel > * {
    margin-top: 0.5rem;
}

.cookie > img{
    margin-top: 0.625rem;
    width: 15rem;
    height: 15rem;
}

.cookie > img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 0.5rem;
    font-size: 30px;
    text-align: center;
}

.buttons {
    background-color: wheat;
    font-size: 1.25rem;
    border-radius: 15px;
}

.buttons:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.price {
    display:none;
}

.buttons:hover .name{
    display:none;
}

.buttons:hover .price{
    display: block;
}
    
.account {
    margin-top: 0.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.account > p > button{
    background-color: wheat;
    border-radius: 15px;
}

.account > p > button:hover {
    background-color: rgba(255, 255, 255, 0.4);
    cursor: pointer;
}

.page-navigator{
    display: flex;
}

.page-navigator > * {
    margin: auto;
}